@page "/clients"

@using System.Collections.Generic
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Sections
@using PortalForgeX.Client.Components.Breadcrumbs
@using PortalForgeX.Client.Components.Widgets.ModelBrowsers

@rendermode RenderMode.InteractiveWebAssembly
@attribute [StreamRendering(true)]
@attribute [Authorize(Roles = $"{SystemRolesNames.ADMIN}, {SystemRolesNames.MANAGER}, {SystemRolesNames.TENANT_ADMIN}, {SystemRolesNames.TENANT_USER}")]

@inject IClientFacade Clients
@inject NavigationManager Navigation

<PageTitle>Clients</PageTitle>

<SectionContent SectionName="top-row">
    <BreadcrumbNavigation>
        <Breadcrumb DisplayText="Clients" IconCssClass="fas fa-users" />
    </BreadcrumbNavigation>
</SectionContent>

<div class="row">
    <div class="card p-0">
        <div class="card-header">
            <div class="col-lg-8">
                <h1>
                    <span class="fas fa-users"></span>
                    Clients Management
                    <sup @onclick="() => Navigation.Refresh(true)" class="fas fa-rotate me-3 fs-6" role="button" title="Force refresh the page."></sup>
                </h1>
                <p class="m-0">Browse and manage the clients.</p>
            </div>
            <div class="col-lg-4">
                <ClientCreateDialog />
            </div>
        </div>
        <div class="card-body pt-0">
            <ClientsBrowser />
        </div>
    </div>
</div>
