@page "/"

@attribute [Authorize(Roles = $"{SystemRolesNames.ADMIN}, {SystemRolesNames.MANAGER}, {SystemRolesNames.TENANT_ADMIN}, {SystemRolesNames.TENANT_USER}")]

<PageTitle>Home</PageTitle>

<SectionContent SectionName="top-row">
    <BreadcrumbNavigation>
        <Breadcrumb DisplayText="Dashboard" IconCssClass="fas fa-gauge-high" />
    </BreadcrumbNavigation>
</SectionContent>

<h1>Dashboard</h1>

<p>Welcome to PortalForgeX.</p>

<AuthorizeView>
    <Authorized>
        <p>Hello @context.User.Identity?.Name!</p>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type : @claim.Value</p>
        }
    </Authorized>
</AuthorizeView>
