@page "/"

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

<p>Welcome to the POSCana CRM Portal.</p>

<AuthorizeView>
    <Authorized>
        <p>Hello @context.User.Identity?.Name!</p>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type : @claim.Value</p>
        }
    </Authorized>
</AuthorizeView>
