@page "/client/{Id:guid}"

@using PortalForgeX.Shared.Features.Clients
@using PortalForgeX.Shared.Facades
@using PortalForgeX.Shared.Constants

@attribute [StreamRendering(true)]
@attribute [Authorize(Roles = $"{SystemRolesNames.ADMIN}, {SystemRolesNames.MANAGER}, {SystemRolesNames.TENANT_ADMIN}, {SystemRolesNames.TENANT_USER}")]

@inject IClientFacade Clients
@inject NavigationManager Navigation

<PageTitle>Client Details</PageTitle>

<SectionContent SectionName="top-row">
    <BreadcrumbNavigation>
        <Breadcrumb DisplayText="Clients" Url="/clients" IconCssClass="fas fa-users" />
        <Breadcrumb DisplayText="@(Model?.Name)" IconCssClass="fas fa-user-tie" />
    </BreadcrumbNavigation>
</SectionContent>

<LoadingArea IsLoading="IsLoading">
    <ClientDetailsView @rendermode="RenderMode.InteractiveWebAssembly" Client="Model" />

    <details class="mb-5" open>
        <summary>
            <h4 class="d-inline-block">Contacts (@Model.Contacts?.Count())</h4>
            <ClientContactCreateDialog @rendermode="RenderMode.InteractiveWebAssembly" ClientId="Model.Id"></ClientContactCreateDialog>
            <span class="clearfix"></span>
            <div class="text-muted">Manage the contactpersons.</div>
        </summary>
        <ClientContactsBrowser @rendermode="RenderMode.InteractiveWebAssembly" Client="Model" />
    </details>

    <details class="mb-5" open>
        <summary>
            <h4 class="d-inline-block">Locations (@Model.Locations?.Count())</h4>
            <BusinessLocationCreateDialog @rendermode="RenderMode.InteractiveWebAssembly" ClientId="Model.Id"></BusinessLocationCreateDialog>
            <span class="clearfix"></span>
            <div class="text-muted">Manage the work locations.</div>
        </summary>
        <BusinessLocationsBrowser @rendermode="RenderMode.InteractiveWebAssembly" Client="Model" />
    </details>
</LoadingArea>

@code {

    [Parameter]
    public Guid Id { get; set; }

    protected bool IsLoading;
    protected ClientDto Model { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        var result = await Clients.GetByIdAsync(Id);
        if (result is null || result.Data is null)
        {
            Navigation.NavigateTo("clients");
            return;
        }

        Model = result.Data;
        IsLoading = false;
        StateHasChanged();
    }

}
