<dialog @ref="Modal" class="modal-dialog @CssClass">
    <div class="modal-content text-start">
        <div class="modal-header">
            <div class="col">
                @Header
            </div>
            <div class="col-1 text-end align-self-start">
                <span @onclick="CloseDialog" class="fas fa-xmark fs-3" role="button" title="Close dialog." formmethod="dialog" autofocus></span>
            </div>
        </div>
        <div class="modal-body">
            @if (IsOpen)
            {
                @Body
            }
        </div>
    </div>

    <BlazoredToasts ShowProgressBar="true" ShowCloseButton="false" Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />
</dialog>

@code {

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public bool ShowDialogOnRender { get; set; }

    [Parameter]
    public string? CssClass { get; set; } = "modal-lg";

}
