@if (IsLoading)
{
    <div class="loading-area">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="loading-text">@LoadingText</span>
    </div>
}
else
{
    if (IsEmpty && EmptyTemplate is not null)
    {
        @EmptyTemplate
    }
    else
    {
        @ChildContent
    }
}

@code {

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string LoadingText { get; set; } = "Loading...";

    [Parameter]
    public bool IsEmpty { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public RenderFragment? EmptyTemplate { get; set; }

}