@inherits LayoutComponentBase

<div class="page">
    <input type="checkbox" title="Compact menu" class="compact-toggler" checked />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SectionOutlet SectionName="top-row" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <BlazoredToasts @rendermode="RenderMode.InteractiveAuto" ShowProgressBar="true" ShowCloseButton="false" Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
